.pokemon-btn{
    width: 100%;
    max-width: 400px;
    padding: 10px 12px;
    border-radius: 15px;
    border: 2px;
    border-style: solid;
    border-color: #2a75bb;
    font-size: 20px;
    margin-top: 5px;
    text-transform: uppercase;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    
}

.Navbar {
  padding: 20px;
  background: #e4000f;
  color: white;
}

.pokemon-list-container{
  /* max-width: 1400px; 
  margin: auto;
  width: 100%; */
  display: flex;
  flex-direction: row;
}

.first-column-pokemon{
  width: 50%;
  text-align: right;
}

.second-column-pokemon{
  width: 50%;
  
}



.popup{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 400px;
  height: 70vh;
  background-color: #e4000f;
  position: absolute;
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.popup-inner{
  position: relative;
  padding: 32px;
  width: 70%;
  max-width: 640px;
  background-color: #ffffff;
  border: #2a75bb;
  border-radius: 2px;
  border-style: solid;
}

.popup-inner .close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
}

.popup-inner .fvr-btn{
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.Card {
  background: white;
  border-radius: 10px;
}

.Card__img {
  text-align: center;
}

.Card__types {
  display: flex;
  justify-content: center;    
}

.Card__type {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  background: cyan;
  color: #fff;
}

.Card__name {
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
}

.Card__info {
  margin-left: 10px;
}

.Card__data {
  padding-bottom: 10px;
}

.Card__data .title {
  font-weight: 700;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.btn button {
  border-style: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  background: #30a7d7;
  color: #fff;
  font-size: 1em;
}

.close-btn{
  border-style: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: #f73030;
  color: #fff;
  font-size: 1em;
}

.fvr-btn{
  display: flex;
  justify-content: center;
  border-style: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: #cf519f;
  color: #fff;
  font-size: 1em;
}


@media screen and (max-width:800px) {

}